{% load i18n %}
    <div id="footer">
      <div class="container_16">
		<p id="code-by" class="grid_5 footer">{% trans "code handcrafted by:" %} <a href="mailto:vernerd@gmail.com">{% trans "Daniel Verner" %}</a></p>      	
        <p class="prefix_1 grid_4 footer">{% trans "All Rights Reserved" %} 2011 © stelagifts</p>
        <p id="designed-by" class="prefix_2 grid_2 footer">{% trans "designed by:" %}</p>
        <a class="pulsart-logo alpha" target="_blank" href="http://www.pulsartcenter.com"></a>
      </div>
    </div>