
div.tabs-left
{
	margin: 0;
}

div.product-details-container {
	padding: 0px;
	position:relative;
}

div.tabs-right 
{
	clear: both;
	float:right;
	display:inline;
	right: 0px;
	padding: 0;
	width: 370px !important;
	margin: 0px;
}

.product-thumbs-grey ul,
.product-thumbs-green ul {
	position: absolute;
	left: 0px;	
}

.sidebar li {
	padding: 0px;	
}


div.tab-content-left {
	height: 155px;
	min-height: 155px;
}

div.tab-content-right {
	height: 155px;
	min-height: 155px;
}

div.product-box-list-item {
	margin: 20px 0 0px 20px;
}

.details p {
	padding: 10px 10px;
	text-align: left;
	font-size: 17px;
	color: #000000;
}

span.math {
	/* IE */
	left: 0;

}

p {
	/* IE */
	padding: 0px 0px 0 0px;
	margin: 0;
}

/* IE 6 */

a.pulsart-logo{
	background: url("../img/ie6/pulsart-ie6.png" ) no-repeat;
}
/* IE 6 */
.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16 {
	display: inline;
	float: left;
	margin-left: 5px;
	margin-right: 5px;
}